/* @@@@@@@@@@  FIRST BLOCK  @@@@@@@@@@@@@@@@ */


/* Global */

* {
    padding: 0;
    margin: 0;
    color: #f9f9f9;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Nav Styling */
p {
    font-weight: bold;
    padding: 10px 0 10px 0px;
}

#toggleMenu {
    width: 20px;
    height: 20px;
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    cursor: pointer;
    border: 1px #555;
    border-radius: 1px;
    transition: all ease-in 500ms;
    -webkit-transition: all ease-in-out 500ms;
}

#toggleMenu:hover {
    opacity: 0.7;
}

#main-nav {
    float: left;
    width: 200px;
    background: #777;
    position: relative;
    height: 100vh;
    transition: all ease-in 500ms;
    -webkit-transition: all ease-in-out 500ms;
    overflow: hidden;
}

#main-nav ul {
    width: 100%;
}

#main-nav a {
    display: block;
    padding: 10px 0 10px 0px;
}

#main-nav a:hover {
    background-color: rgba(229,229,229,.5);
    border-radius: 2px;
}

.inner-div {
    width: 80%;
    display: block;
    margin-left:20px;
}

.inner-div li ul {
    margin-left: 20px;
    display: none;
}

#mostrami {
    display: block;
}

.inner-div-border {
    border-bottom: 2px solid #b0b0b0;
    display: block;
}

.inner-div-border span {
    position: absolute;
    left: 170px;
}

/* icone */

.fa-search {
    position: absolute;
    top: 18px;
    right: 25px;
}

.fa-caret-right {
    transform: rotate(90deg);
    position: absolute;
    right: 20px;
}

.inner-div li:hover .fas{
    transform: rotate(-90deg);
}

/* Form */

form {
    position: relative;
}

input { 
    border-style: none; 
    background: transparent; 
    outline: none; 
    font-size: 1em;
    padding: 15px 0 20px 0;
    width: 100%;
}

hr {
    position: relative;
    top: 50px;
}

::-webkit-input-placeholder {
    font-style: italic;
    color: #f9f9f9;
 }
 :-moz-placeholder {
    font-style: italic;  
    color: #f9f9f9;
 }
 ::-moz-placeholder {
    font-style: italic; 
    color: #f9f9f9; 
 }
 :-ms-input-placeholder {  
    font-style: italic; 
    color: #f9f9f9;
 }


 /* @@@@@@@@@@@@@@@@@@@@@@@  SECOND BLOCK  @@@@@@@@@@@@@@@@@@@@@@@@*/ 

 /* Global */
.flexone {
    display: flex;
}

 .flex-item-2 {
     /* position: relative; */
     flex-basis: 49.98%;
     flex-grow: 2;
     height: 100vh;
 }

 .statistics {
     background-color: #eaeaea;
     height: 16.66%;
     justify-content: space-evenly;
 }

 .item {
     text-align: center;
     margin-top: auto;
     margin-bottom: auto;
     color: #777;
     border: 1px solid black;
 }